<%= simple_form_for(@tweeet) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :tweeet, label: 'Tweet about it', input_html:{class: "textarea"},
                  wrapper:false , label_html: {class: "label"},placeholder: "Compose a new tweet...",
      autofocus: true%>
    </div>
  </div>
  <%= f.button :submit,class: "button is-info" %>
<% end %>